parameters:
	ignoreErrors:
		-
			message: '#^Property App\\Exceptions\\GoogleDriveAuthException\:\:\$code has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: app/Exceptions/GoogleDriveAuthException.php

		-
			message: '#^Property App\\Exceptions\\GoogleDriveFileNotFoundException\:\:\$code has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: app/Exceptions/GoogleDriveFileNotFoundException.php

		-
			message: '#^Property App\\Exceptions\\GoogleDrivePermissionException\:\:\$code has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: app/Exceptions/GoogleDrivePermissionException.php

		-
			message: '#^Property App\\Exceptions\\GoogleDriveQuotaExceededException\:\:\$code has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: app/Exceptions/GoogleDriveQuotaExceededException.php

		-
			message: '#^PHPDoc type array\<string\> of property App\\Models\\Master\\AdminMst\:\:\$fillable is not covariant with PHPDoc type list\<string\> of overridden property Illuminate\\Database\\Eloquent\\Model\:\:\$fillable\.$#'
			identifier: property.phpDocType
			count: 1
			path: app/Models/Master/AdminMst.php

		-
			message: '#^Property App\\Models\\Master\\AdminMst\:\:\$is_delete \(bool\) does not accept int\.$#'
			identifier: assign.propertyType
			count: 2
			path: app/Models/Master/AdminMst.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Collection\<int, Illuminate\\Database\\Eloquent\\Model\>\|Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Repositories/Master/AdminMstRepository.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Collection\<int, Illuminate\\Database\\Eloquent\\Model\>\|Illuminate\\Database\\Eloquent\\Model\:\:\$password\.$#'
			identifier: property.notFound
			count: 1
			path: app/Repositories/Master/AdminMstRepository.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Repositories/Master/AdminMstRepository.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$password\.$#'
			identifier: property.notFound
			count: 1
			path: app/Repositories/Master/AdminMstRepository.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Builder\<Illuminate\\Database\\Eloquent\\Model\>\:\:notDeleted\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Repositories/Master/AdminMstRepository.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Collection\<int, Illuminate\\Database\\Eloquent\\Model\>\|Illuminate\\Database\\Eloquent\\Model\:\:isDeleted\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Repositories/Master/AdminMstRepository.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Builder\<Illuminate\\Database\\Eloquent\\Model\>\:\:notDeleted\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Repositories/SoftDeleteCrudRepository.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:isDeleted\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Repositories/SoftDeleteCrudRepository.php

		-
			message: '#^PHPDoc type string of property Database\\Factories\\Master\\AdminMstFactory\:\:\$model is not covariant with PHPDoc type class\-string\<App\\Models\\Master\\AdminMst\> of overridden property Illuminate\\Database\\Eloquent\\Factories\\Factory\<App\\Models\\Master\\AdminMst\>\:\:\$model\.$#'
			identifier: property.phpDocType
			count: 1
			path: database/factories/Master/AdminMstFactory.php
