parameters:
	ignoreErrors:
		-
			message: '#^Property App\\Exceptions\\GoogleDriveAuthException\:\:\$code has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: app/Exceptions/GoogleDriveAuthException.php

		-
			message: '#^Property App\\Exceptions\\GoogleDriveFileNotFoundException\:\:\$code has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: app/Exceptions/GoogleDriveFileNotFoundException.php

		-
			message: '#^Property App\\Exceptions\\GoogleDrivePermissionException\:\:\$code has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: app/Exceptions/GoogleDrivePermissionException.php

		-
			message: '#^Property App\\Exceptions\\GoogleDriveQuotaExceededException\:\:\$code has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: app/Exceptions/GoogleDriveQuotaExceededException.php

		-
			message: '#^Call to an undefined method App\\Http\\Resources\\Management\\MediaFileCollection\:\:currentPage\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Resources/Management/MediaFileCollection.php

		-
			message: '#^Call to an undefined method App\\Http\\Resources\\Management\\MediaFileCollection\:\:firstItem\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Resources/Management/MediaFileCollection.php

		-
			message: '#^Call to an undefined method App\\Http\\Resources\\Management\\MediaFileCollection\:\:lastItem\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Resources/Management/MediaFileCollection.php

		-
			message: '#^Call to an undefined method App\\Http\\Resources\\Management\\MediaFileCollection\:\:lastPage\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Resources/Management/MediaFileCollection.php

		-
			message: '#^Call to an undefined method App\\Http\\Resources\\Management\\MediaFileCollection\:\:perPage\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Resources/Management/MediaFileCollection.php

		-
			message: '#^Call to an undefined method App\\Http\\Resources\\Management\\MediaFileCollection\:\:total\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Resources/Management/MediaFileCollection.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Management\\MediaFileResource\:\:\$created_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Management/MediaFileResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Management\\MediaFileResource\:\:\$duration\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Management/MediaFileResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Management\\MediaFileResource\:\:\$extension\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Management/MediaFileResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Management\\MediaFileResource\:\:\$folder_path\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Management/MediaFileResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Management\\MediaFileResource\:\:\$height\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Management/MediaFileResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Management\\MediaFileResource\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Management/MediaFileResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Management\\MediaFileResource\:\:\$is_file\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Management/MediaFileResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Management\\MediaFileResource\:\:\$metadata\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Management/MediaFileResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Management\\MediaFileResource\:\:\$mime_type\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Management/MediaFileResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Management\\MediaFileResource\:\:\$minio_bucket\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Management/MediaFileResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Management\\MediaFileResource\:\:\$minio_etag\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Management/MediaFileResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Management\\MediaFileResource\:\:\$minio_object_key\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Management/MediaFileResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Management\\MediaFileResource\:\:\$original_name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Management/MediaFileResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Management\\MediaFileResource\:\:\$size\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Resources/Management/MediaFileResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Management\\MediaFileResource\:\:\$storage_path\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Management/MediaFileResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Management\\MediaFileResource\:\:\$updated_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Management/MediaFileResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Management\\MediaFileResource\:\:\$upload_status\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Management/MediaFileResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Management\\MediaFileResource\:\:\$url\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Resources/Management/MediaFileResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Management\\MediaFileResource\:\:\$virtual_path\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Management/MediaFileResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Management\\MediaFileResource\:\:\$width\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Management/MediaFileResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Management\\MediaFileResource\:\:\$workspace_id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Management/MediaFileResource.php

		-
			message: '#^Property App\\Models\\Management\\MediaMgmt\:\:\$upload_status \(int\) does not accept App\\Enums\\UploadStatus\:\:COMPLETED\.$#'
			identifier: assign.propertyType
			count: 1
			path: app/Jobs/Media/ProcessLargeFile.php

		-
			message: '#^Property App\\Models\\Management\\MediaMgmt\:\:\$upload_status \(int\) does not accept App\\Enums\\UploadStatus\:\:FAILED\.$#'
			identifier: assign.propertyType
			count: 1
			path: app/Jobs/Media/ProcessLargeFile.php

		-
			message: '#^PHPDoc type array\<string\> of property App\\Models\\History\\Master\\AdminMstHist\:\:\$fillable is not covariant with PHPDoc type list\<string\> of overridden property Illuminate\\Database\\Eloquent\\Model\:\:\$fillable\.$#'
			identifier: property.phpDocType
			count: 1
			path: app/Models/History/Master/AdminMstHist.php

		-
			message: '#^Method App\\Models\\Management\\MediaMgmt\:\:children\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/Management/MediaMgmt.php

		-
			message: '#^Property App\\Models\\Management\\MediaMgmt\:\:\$is_delete \(bool\) does not accept int\.$#'
			identifier: assign.propertyType
			count: 2
			path: app/Models/Management/MediaMgmt.php

		-
			message: '#^PHPDoc type array\<string\> of property App\\Models\\Master\\AdminMst\:\:\$fillable is not covariant with PHPDoc type list\<string\> of overridden property Illuminate\\Database\\Eloquent\\Model\:\:\$fillable\.$#'
			identifier: property.phpDocType
			count: 1
			path: app/Models/Master/AdminMst.php

		-
			message: '#^Property App\\Models\\Master\\AdminMst\:\:\$is_delete \(bool\) does not accept int\.$#'
			identifier: assign.propertyType
			count: 2
			path: app/Models/Master/AdminMst.php

		-
			message: '#^PHPDoc type array\<int, string\> of property App\\Models\\User\:\:\$fillable is not covariant with PHPDoc type list\<string\> of overridden property Illuminate\\Database\\Eloquent\\Model\:\:\$fillable\.$#'
			identifier: property.phpDocType
			count: 1
			path: app/Models/User.php

		-
			message: '#^PHPDoc type array\<int, string\> of property App\\Models\\User\:\:\$hidden is not covariant with PHPDoc type list\<string\> of overridden property Illuminate\\Database\\Eloquent\\Model\:\:\$hidden\.$#'
			identifier: property.phpDocType
			count: 1
			path: app/Models/User.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Builder\<Illuminate\\Database\\Eloquent\\Model\>\:\:notDeleted\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Repositories/Management/MediaMgmtRepository.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Collection\<int, Illuminate\\Database\\Eloquent\\Model\>\|Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Repositories/Master/AdminMstRepository.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Collection\<int, Illuminate\\Database\\Eloquent\\Model\>\|Illuminate\\Database\\Eloquent\\Model\:\:\$password\.$#'
			identifier: property.notFound
			count: 1
			path: app/Repositories/Master/AdminMstRepository.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Repositories/Master/AdminMstRepository.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$password\.$#'
			identifier: property.notFound
			count: 1
			path: app/Repositories/Master/AdminMstRepository.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Builder\<Illuminate\\Database\\Eloquent\\Model\>\:\:notDeleted\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Repositories/Master/AdminMstRepository.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Collection\<int, Illuminate\\Database\\Eloquent\\Model\>\|Illuminate\\Database\\Eloquent\\Model\:\:isDeleted\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Repositories/Master/AdminMstRepository.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Builder\<Illuminate\\Database\\Eloquent\\Model\>\:\:notDeleted\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Repositories/SoftDeleteCrudRepository.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:isDeleted\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Repositories/SoftDeleteCrudRepository.php

		-
			message: '#^PHPDoc tag @param references unknown parameter\: \$prefix$#'
			identifier: parameter.notFound
			count: 1
			path: app/Services/MinioService.php

		-
			message: '#^PHPDoc type string of property Database\\Factories\\Master\\AdminMstFactory\:\:\$model is not covariant with PHPDoc type class\-string\<App\\Models\\Master\\AdminMst\> of overridden property Illuminate\\Database\\Eloquent\\Factories\\Factory\<App\\Models\\Master\\AdminMst\>\:\:\$model\.$#'
			identifier: property.phpDocType
			count: 1
			path: database/factories/Master/AdminMstFactory.php
